@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFPRODISPLAYREGULAR.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "SF Pro Display", sans-serif;
}

@import "tailwindcss";

@theme {
  --font-sf-pro-light: SF Pro Text 100, "sans serif";
  --font-dm-sans: "DM Sans", sans-serif;
  --font-vent-sans: "Vend Sans", sans-serif;
}
